<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head (pageTitle='New Expense')}">
</head>
<body>
<div th:replace="~{layout/layout :: header}"></div>

<div class="container">
    <h1>Reset password</h1>

    <div class="col-md-6">
        <form class="needs-validation" novalidate="" th:action="@{/web/user/resetPassword}" method="post">
            <div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div class="row g-3">
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <input name="email" type="text" class="form-control" id="email">
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Reset</button>
        </form>
    </div>

</div>

<div th:replace="~{layout/layout :: footer}"></div>
</body>
</html>